/*
 * Copyright (c) 2022 Pete Johanson
 * Modified by Sam Boysel 
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define ALPHA  0
#define NAV    1
#define FUN    2
#define SYM    3
#define NUM    4

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <180>;
};

&lt {
    tapping_term_ms = <150>;
};

/ {

    keymap {
        compatible = "zmk,keymap";

        alpha_layer {
            label = "Alpha (QWERTY)";
            bindings = <
&kp Q       &kp W       &kp E        &kp R        &kp T          &none        &none        &kp Y         &kp U        &kp I        &kp O       &kp P
&mt LGUI A  &mt LALT S  &mt LCTRL D  &mt LSHFT F  &kp G          &none        &none        &kp H         &mt LSHFT J  &mt LCTRL K  &mt LALT L  &mt LGUI QUOT
&kp Z       &kp X       &kp C        &kp V        &kp B          &none        &none        &kp N         &kp M        &kp COMMA    &kp DOT     &kp FSLH  
&none       &none       &none        &kp ESC      &lt NAV SPACE  &lt FUN TAB  &lt SYM RET  &lt NUM BSPC  &kp DEL      &none        &none       &none
            >;
        };

        nav_layer {
            label = "Navigation";    
            bindings = <
&none       &none       &none        &none        &none          &none        &none        &none      &none        &none        &none       &none 
&kp LGUI    &kp LALT    &kp LCTRL    &kp LSHFT    &none          &none        &none        &none      &kp LEFT     &kp DOWN     &kp UP      &kp RIGHT
&none       &none       &none        &none        &none          &none        &none        &none      &none        &none        &none       &none    
&none       &none       &none        &trans       &trans         &trans       &trans       &trans     &trans       &none        &none       &none
            >;
        };
        
        fun_layer {
            label = "Function";
            bindings = <
&bootloader &none       &none        &none        &none          &none        &none        &none      &bt BT_SEL 0  &bt BT_PRV   &bt BT_NXT  &bt BT_CLR 
&kp LGUI    &kp LALT    &kp LCTRL    &kp LSHFT    &none          &none        &none        &none      &none         &none        &none       &none
&none       &none       &none        &none        &none          &none        &none        &none      &none         &none        &none       &none    
&none       &none       &none        &trans       &trans         &trans       &trans       &trans     &trans        &none        &none       &none
            >;
        };

        sym_layer {
            label = "Symbol";
            bindings = <
&none       &kp AMPS    &kp STAR     &kp LPAR     &kp RPAR       &none        &none        &none      &none        &none        &none       &none 
&none       &kp DLLR    &kp PRCNT    &kp CARET    &none          &none        &none        &none      &kp LSHFT    &kp LCTRL    &kp LALT    &kp LGUI
&none       &kp EXCL    &kp AT       &kp HASH     &none          &none        &none        &none      &none        &none        &none       &none    
&none       &none       &none        &trans       &trans         &trans       &trans       &trans     &trans       &none        &none       &none
            >;
        };

        num_layer {
            label = "Number";
            bindings = <
&none       &kp N7      &kp N8       &kp N9       &none          &none        &none        &none      &none        &none        &none       &none 
&none       &kp N4      &kp N5       &kp N6       &none          &none        &none        &none      &kp LSHFT    &kp LCTRL    &kp LALT    &kp LGUI
&none       &kp N1      &kp N2       &kp N3       &none          &none        &none        &none      &none        &none        &none       &none    
&none       &none       &none        &kp N0       &trans         &trans       &trans       &trans     &trans       &none        &none       &none
            >;
        };

    };
};

